
.to-dos-page {
  &_class {
    border: 2px solid black;
    margin: 2px;
    width: 500px;
  }
}
.to-dos_class {
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  width: 500px;
  // padding-left: 20px;
}



