/* HeroesComponent's private CSS styles */
.heroes-page {

  &_add-button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: 10px;

    &:hover {
      color: var(--color-white);
      background-color: #42545C;
    }
  }

  &_container {

    &_row {

      &_hero {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        cursor: pointer;

        &_link {
          color: var(--color-black);
          text-decoration: none;
          background-color: var(--color-1);
          padding: .3em 0;
          border-radius: 4px;

          &:hover {
            left: .1em;
            background-color: var(--color-1-dark);
            color: var(--color-black);
          }

          &:active {
            background-color: #525252;
            color: #fafafa;
          }

          &_badge {
            display: inline-block;
            font-size: inherit;
            color: var(--color-white);
            padding: 0.8em 0.7em 0 0.7em;
            background-color: #405061;
            line-height: 1em;
            position: relative;
            left: 5px;
            top: 0px;
            height: 40px;
            min-width: 16px;
            text-align: right;
            margin-right: 0.8em;
            border-radius: 4px;
          }
        }

        &_delete {
          background-color: var(--color-white);
          color: #525252;
          color: var(--color-white);
          background-color: #405061;
          font-weight: bold;
          font-size: 1.1rem;
          margin: 0;
          padding: 1px 10px 3px 10px;
          border-radius: 4px;
          height: 100%;

          &:hover {
            background-color: #525252;
            color: var(--color-white);
          }
        }
      }
    }

  }

  
}