<hr>
<h2 style="color:blue">My Heroes: </h2>
<!-- <ul class="heroes"> -->
<!-- heroes	contiene la lista de héroes simulados de HeroesComponentclase y hero contiene el objeto héroe actual para cada iteración a través de la lista.-->
<!-- <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
      <span *ngIf="hero.typeId === heroTypes.MAGICIAN">Mago</span>
      <span *ngIf="hero.typeId">{{heroTypeNAmes[hero.typeId]}}</span>
    </button>

    <app-label [text]="hero.name" (textChange)="onChangeName($event, hero)"></app-label>
  </li>
</ul> -->
<p-dialog header="Add Hero" [(visible)]="displayModal" [modal]="true" icon="pi pi-external-link">
<div>
  <form id="heroesCreateForm" name="heroesCreateForm" #heroesCreateForm="ngForm" (ngSubmit)="onSubmitHero()">
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" name="new-hero" [(ngModel)]="newHero.name" required />
    <!-- (click) passes input value to add() and then clears the input -->
    <!-- <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button> -->
    <!-- <button type="submit" class="add-button" (click)="onclickAddHero()">
      Add hero
    </button> -->
    <button type="submit" class="add-button" [disabled]="!heroesCreateForm.form.valid"> Add hero </button>
    <button type="button" class="add-button" (click)="cancelModalDialog()"> Cancel </button>
    
  </form>
</div>
</p-dialog>

<button type="button" (click)="showModalDialog()" icon="pi pi-info-circle" label="Show">Add Hero</button>


<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="heroes/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <span *ngIf="hero.typeId"> - </span>
      <app-hero-types [(typeId)]="hero.typeId"></app-hero-types>
    </a>
    <!-- <app-label [text]="hero.name" (textChange)="onChangeName($event, hero)"></app-label> -->
    <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<hr>

<h2 style="color:rgb(32, 179, 32)">My Users: </h2>
<ul class="users">
  <li *ngFor="let user of users">
    <div class="name">{{user?.name}}</div>
    <div class="name">{{user?.email}}</div>
    <!-- <div class="name">{{user?.address?.city}}</div>
    <div class="name">{{user?.phone}}</div>
    <div class="name">{{user?.company}}</div> -->
  </li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

<hr>