<div class="heroes-page">
  <hr>
  <h2 style="color:blueviolet">Heroes: </h2>
  <!-- <ul class="heroes"> -->
  <!-- heroes	contiene la lista de héroes simulados de HeroesComponentclase y hero contiene el objeto héroe actual para cada iteración a través de la lista.-->
  <!-- <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
      <span *ngIf="hero.typeId === heroTypes.MAGICIAN">Mago</span>
      <span *ngIf="hero.typeId">{{heroTypeNAmes[hero.typeId]}}</span>
    </button>

    <app-label [text]="hero.name" (textChange)="onChangeName($event, hero)"></app-label>
  </li>
</ul> -->
  <p-dialog header="Add Hero" [(visible)]="displayModal" [modal]="true" icon="pi pi-external-link">
    <div>
      <form id="heroesCreateForm" name="heroesCreateForm" #heroesCreateForm="ngForm" (ngSubmit)="onSubmitHero()">
        <label for="new-hero">Hero name: </label>
        <input id="new-hero" name="new-hero" [(ngModel)]="newHero.name" required />
        <!-- (click) passes input value to add() and then clears the input -->
        <!-- <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button> -->
        <!-- <button type="submit" class="add-button" (click)="onclickAddHero()">
      Add hero
    </button> -->
        <button type="submit" class="add-button" [disabled]="!heroesCreateForm.form.valid"> Add hero </button>
        <button type="button" class="add-button" (click)="cancelModalDialog()"> Cancel </button>

      </form>
    </div>
  </p-dialog>

  <button type="button" (click)="showModalDialog()" icon="pi pi-info-circle" label="Show">Add Hero</button>



  <div class="heroes-page_container container">
    <div class="heroes-page_container_row row">
      <div *ngFor="let hero of heroes"
        class="heroes-page_container_row_hero my-2 col-sm-12 col-md-6 col-lg-3 d-flex justify-content-end align-items-center">
        <a routerLink="heroes/detail/{{hero.id}}" class="heroes-page_container_row_hero_link flex-grow-1">
          <span class="heroes-page_container_row_hero_link_badge">{{hero.id}}</span>
          <span class="heroes-page_container_row_hero_link_name">{{hero.name}}</span>
          <span *ngIf="hero.typeId" class="heroes-page_container_row_hero_link_type-id"> - </span>
          <app-hero-types [(typeId)]="hero.typeId"></app-hero-types>
        </a>
        <!-- <app-label [text]="hero.name" (textChange)="onChangeName($event, hero)"></app-label> -->
        <button type="button" class="heroes-page_container_row_hero_delete" title="delete hero"
          (click)="delete(hero)">x</button>
      </div>
    </div>
  </div>

  <hr>
  <h2 class="text-primary" style="text-align: center;">Heroes Table: Page, Sort, Sticky, Resize </h2>

  <div class="card w-75 p-2 align-items-center m-auto border border-primary">
    <p-table [value]="heroes" [tableStyle]="{'min-width': '50rem'}" [resizableColumns]="true"
      styleClass="p-datatable-gridlines" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[2,5,10,15,20]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pResizableColumn pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pResizableColumn pSortableColumn="typeId">TypeId <p-sortIcon field="typeId"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>{{hero.typeId}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>

  <hr>
  <h2 class="text-danger" style="text-align: center;">Heroes Table II: Dynamic </h2>

  <div class="card w-75 p-2 align-items-center m-auto border border-danger">
    <p-table [columns]="cols" [value]="heroes" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines"
      [paginator]="true" [rows]="2" [rowsPerPageOptions]="[2,5,10,15,20]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let heroCol of columns">
            {{heroCol.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let heroCol of columns">
            {{rowData[heroCol.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
  <!-- <div class="container">
  <ul class="heroes row">
    <li *ngFor="let hero of heroes" class="col-sm-12 col-md-6 col-lg-3">
      <a routerLink="heroes/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
        <span *ngIf="hero.typeId"> - </span>
        <app-hero-types [(typeId)]="hero.typeId"></app-hero-types>
      </a> -->
  <!-- <app-label [text]="hero.name" (textChange)="onChangeName($event, hero)"></app-label> -->
  <!-- <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
  </ul>
  </div> -->

  <hr>

  <div class="card w-25 p-2 align-items-center border border-success m-auto">
    <h2 class="text-success">Users: </h2>
    <ul class="users">
      <li *ngFor="let user of users">
        <div class="name">{{user?.name}}</div>
        <div class="name">{{user?.email}}</div>
        <!-- <div class="name">{{user?.address?.city}}</div>
    <div class="name">{{user?.phone}}</div>
    <div class="name">{{user?.company}}</div> -->
      </li>
    </ul>
    <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
  </div>

  <hr>

</div>