<div class="to-dos-page">
  <h2 style="color:blueviolet"><strong>ToDos: </strong></h2>
  <!-- <ul class="">
  <li *ngFor="let todo of todos" class="liClass">
    <div class="name">UserId: {{todo.userId}}</div>
    <div class="name">Id: {{todo.id}}</div>
    <div class="name">Title: {{todo.title}}</div>
    <div class="name">Completed: {{todo.completed}}</div>
  </li>
</ul> -->

  <div *ngFor="let todo of todos" class="to-dos_class">
    <!-- <app-to-do [todo]="todo"></app-to-do> -->
    <app-to-do [userId]="todo.userId" [id]="todo.id" [title]="todo.title" [completed]="todo.completed"></app-to-do>
  </div>

</div>